{% extends "base.html" %}


{% block content %}
    <style>
        .card {
        margin: 100px auto;
        }
    </style>

    <body>
        <div class="card text-left text-dark bg-light mb-3" style="max-width: 50rem;">
            <div class="card-header text-light bg-dark "><h2 class="display-4">Sign up here </h2>
            </div>
            <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
            </div>
        </div>
    </body>
{% endblock %}
