{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <form class="form-inline my-2 my-lg-0 justify-content-center" method="POST">
            {% csrf_token %}
            <input style="width: 525px;" class="form-control mr-sm-2 " type="search" name="search1" placeholder="Search Deck" aria-label="Search">
            <button style="align-content: center;" class="btn btn-outline-secondary my-0 my-sm-0" type="submit">Search</button>
        </form>
        <br><br>
        <div class="card-columns">
            {% for deck in list_of_decks %}
{#                for tag for iterating over the list of decks#}
                <div class="card">
                    <a href="/deck/show/{{deck.id}}" >
                        <img src="{% static "images/Learning.svg" %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body text-dark bg-light">
                        <h5 class="card-title">
                            <a href="/deck/show/{{deck.id}}">
                                {{ deck.title }}
                            </a>
                            <a href="/deck/show/{{deck.id}}">
                                <span class="badge badge-primary">{{deck.card_set.all|length}}</span>
                            </a>
                        </h5>
                        <p class="card-text">{{deck.description|truncatechars:25}}</p>
                        <a class="btn btn-outline-secondary btn-sm btn-block" href="/deck/show/{{deck.id}}" role="button">
                            Show
                        </a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            by {{deck.creator}}
                            · {{ deck.subject|truncatechars:20 }}
                            {% if user.is_authenticated %}
                                {% if user == deck.creator %}
                                    · <a href="/deck/{{deck.id}}">Edit</a>
                                    · <a href="/deck/delete/{{deck.id}}/">Delete</a>
                                {% endif %}
                            {% endif %}
                        </small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
{% endblock %}