{% extends "base.html" %}

{% load static %}

{% block content %}
    <p style="text-align: center;">Correct: <b style="color: green" id="correct"></b> &emsp;&emsp; Incorrect: <b style="color: red" id="incorrect"></b> &emsp;&emsp; Max Score: <b id="count"></b> &emsp;&emsp; Progress: <b id="len2"></b>/<b id="len"></b></p>
    <div class="container" id="test">
        <div class="row">
            {% for card in list_of_cards %}
                <div class="rehearse_card">
                    <div class="card-deck" style="height: 35rem;">
                        <div class="card text-center card-header text-light bg-dark" style="width: 45rem;">
                            <div class="card-img-overlay">
                                <h4 class="card-title-question">Q: {{card.question}} </h4>
                                <h5 class="card-text-answer">A: {{card.answer}}</h5>
                            </div><br><br>
                            <div class="card-body">
                                <img src="{% static "images/Questions-bro.svg" %}" class="card-img-top" alt="..." style="opacity: .4; height: 20rem" >
                            </div>
                            <div class="card-footer bg-light">
                                <small class="text-muted">
                                    {{card.deck.title}} · {{ card.deck.subject }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="row">
          <div class="col text-center">
            <input type="button" class="btn btn-success btn-sm" name="" value="I knew that!" onclick="increaseCounter()">
              <button type="button" onclick="flipCard();" name="flip" class="btn btn-info btn-sm">Flip</button>
            <input type="button" class="btn btn-danger btn-sm" name="" value="I'm unsure" onclick="decreaseCounter()">
          </div>
        </div>
    </div>


    <script src="{% static 'js/test.js' %}"></script>
      <script>
        var len = {{ list_of_cards|length }};
        var len2 = 0;
        var incorrect = 0;
        var correct = 0;
        document.getElementById("count").innerText = len ;
        document.getElementById("correct").innerText = correct;
        document.getElementById("incorrect").innerText = incorrect;
        document.getElementById("len2").innerText = len2;
        document.getElementById("len").innerText = len;
        function increaseCounter()
        {
            showNextCard();
            correct = correct + 1;
            document.getElementById("correct").innerText = correct;
            len2 = len2+1;
            document.getElementById("len2").innerText = len2;
            if (len2 == len){
                testComplete();
            }
        }

        function decreaseCounter(){
        showNextCard();
            incorrect = incorrect+1;
            document.getElementById("incorrect").innerText = incorrect;
            len2 = len2+1;
            document.getElementById("len2").innerText = len2;
            if (len2 == len){
                    testComplete();
            }
        }

        function testComplete(){
            document.getElementById("test").style.visibility = "hidden";
            displayResult();
        }

        function displayResult()
        {
            var percentage = correct/len;
            percentage = percentage *100;
            percentage = percentage.toFixed(0);

            if (percentage > 50.0)
            {
                confirm("You did well,\nYour Score is: "+percentage+"%")
                window.location.href = "http://127.0.0.1:8000/studyset/";
            }
            else {
                confirm("Better luck next time, Your Score is: "+percentage+"%")
                window.location.href = "http://127.0.0.1:8000/studyset/";
            }

        }
      </script>


  {% endblock %}
